/* Basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  background-color: #F9F9F6;
}

/* Enable smooth scrolling and adjust padding for anchors */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: #F9F9F6;
}

::-webkit-scrollbar-thumb {
  background: #FF9900;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ab782b;
}

/* Navbars */

/* Navbar with animations for the Homepage */
.navbar-animate {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  position: sticky;
  top: 0;
  background-color: #2E2A2A;
  width: 100%;
  z-index: 9999;
  padding: 1rem;
}

.navbar-animate ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.nav-link-animate {
  padding-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  color: #F9F9F6;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s ease-out forwards;
  animation-delay: calc(0.5s * var(--index));
}

/* Define the animation for the navbar links to "slide in" from the left */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Set custom index values for each navbar item for staggered animation */
.navbar-animate li:nth-child(1) {
  --index: 1;
}

.navbar-animate li:nth-child(2) {
  --index: 2;
}

.navbar-animate li:nth-child(3) {
  --index: 3;
}

/* Hover effect: underline that grows from left to right */
.nav-link-animate::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F9F9F6;
  transition: width 0.3s ease;
  border-radius: 3px;
}

/* On hover, expand the underline to full width */
.nav-link-animate:hover::before {
  width: 100%;
}

/* Active link effect: underline for the "Start" link when the page loads */
.nav-link-animate.active::before {
  width: 100%;
  height: 2px;
  background-color: #AF9D8F;
}

/* Responsive styling for Navbar-animate on smaller screens */
@media (max-width: 768px) {
  .navbar-animate ul {
    gap: 3rem;
  }
}

/* Static Navbar for Projects and About Pages */
.navbar {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  position: sticky;
  top: 0;
  background-color: #2E2A2A;
  width: 100%;
  z-index: 9999;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.nav-link {
  padding-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  color: #F9F9F6;
  font-size: 1.2rem;
  opacity: 1;
  transform: translateX(0);
}

/* Hover effect: underline that grows from left to right */
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F9F9F6;
  transition: width 0.3s ease;
  border-radius: 3px;
}

/* On hover, expand the underline to full width */
.nav-link:hover::before {
  width: 100%;
}

/* Active link effect: underline for the active link */
.nav-link.active::before {
  width: 100%;
  height: 2px;
  background-color: #AF9D8F;
}

/* Responsive styling for Navbar for smaller screens */
@media (max-width: 768px) {
  .navbar ul {
    gap: 3rem;
  }
}

/* Headings for Projects och About */
.about-heading,
.projects-heading {
  font-size: 3rem;
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  background-color: #2E2A2A;
  padding: 2rem 3rem;
}

/* Homepage */
.overflow {
  background-color: #2E2A2A;
  height: 40vh;
}

.banner {
  height: 60vh;
  background-color: #2E2A2A;
}

.heading {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 12vw;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  animation: slideInFromLeft 1s ease-out forwards;
}

/* Animation to make the heading slide in from the left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Chevron-down icon styling */
.chevron-down {
  width: 15px;
  height: 15px;
  border-left: 3px solid #F9F9F6;
  border-bottom: 3px solid #F9F9F6;
  /* Rotate to form a "V" shape */
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  /* Adjust position and rotation */
  transform: translateX(-50%) rotate(-45deg);
  bottom: 2%;
  /* Apply smooth bouncing animation */
  animation: smooth-bounce 1.5s infinite;
}

/* Animation for the bouncing effect of the chevron */
@keyframes smooth-bounce {

  0%,
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }

  50% {
    transform: translate(-50%, -5px) rotate(-45deg);
  }
}

/* Responsive styling for heading and chevron on smaller screens */
@media (max-width: 768px) {

  .heading {
    margin-bottom: 1rem;
  }

  .chevron-down {
    bottom: 1%;
  }
}

/* Section 2: About me */
.section-2 {
  padding-bottom: 5rem;
  background-color: #2E2A2A;
}

.section-2 .container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 2rem;
}

.section-2 img {
  width: 50%;
  height: auto;
}

.section-2 .text {
  width: 50%;
  color: #F9F9F6;
  text-align: left;
}

.text h2,
.text p {
  font-family: "lft-etica-mono", sans-serif;
  font-style: normal;
  text-align: left;
  font-size: 1.5rem;
}

.highlighted {
  color: #AF9D8F;
}

p.additional-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Button */
.button {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #F9F9F6;
  color: #2E2A2A;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #c6c4c4;
  transform: translateY(3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(5px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Responsive styling for section 2 on smaller screens */
@media (max-width: 1024px) {
  .section-2 .container {
    width: 90%;
  }

  .section-2 .text {
    width: 100%;
  }

  .section-2 .additional-text {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .section-2 .container {
    flex-direction: column;
    text-align: left;
  }

  .section-2 img {
    width: 100%;
  }

  p.additional-text {
    margin-top: 2rem;
  }
}

/* Section 3: Recent projects */
.section-3 {
  background-color: #F9F9F6;
}

.recent-projects {
  margin: 0 auto;
  padding: 2rem 5rem;
}

.recent-projects h2 {
  font-family: "urbane", sans-serif;
  font-size: 1.5rem;
  color: #2E2A2A;
  text-align: center;
  margin-bottom: 2rem;
  padding-left: 0;
}

.image-container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

}

.image-item {
  width: 30%;
  flex-direction: column;
}

.image-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.image-link img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.image-link:hover img {
  transform: scale(1.05);
}

.text-container {
  width: 100%;
  padding-left: 0;
  margin: 0;
}

.text-container h3 {
  color: #2E2A2A;
  font-family: "urbane", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.text-container .year {
  font-family: "urbane", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #2E2A2A;
  margin-bottom: 2rem;
}

.text-container .caption {
  font-size: 1rem;
  font-weight: normal;
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
}

/* Responsive styling for section 3 on smaller screens */
@media (max-width: 1024px) {
  .recent-projects {
    padding: 2rem;
  }

  .text-container .year {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .recent-projects h2 {
    text-align: left;
  }

  .image-item {
    width: 100%;
  }
}

/* Projects Page */

/* Projects navbar */
.navbar-projects {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 4rem;
}

.navbar-projects-list {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.navbar-projects-link {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #2E2A2A;
  display: inline-block;
  transition: transform 0.3s ease;
}

.navbar-projects-link:hover {
  color: #AF9D8F;
  transform: translateY(5px);
}

/* Responsive styling for projects navbar on smaller screens */
@media (max-width: 768px) {
  .navbar-projects {
    padding: 1rem 2rem;
  }
}

@media (max-width: 480px) {
  .navbar-projects {
    padding: 1rem 3rem;
  }

  .navbar-projects-link {
    font-size: 0.7rem;
  }
}

/* Projects */
.projects {
  padding: 0 6rem;
  background-color: #F9F9F6;
}

.project-category {
  padding-bottom: 7rem;
}

.project-category h2 {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
  text-align: left;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: start;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F6;
}

.project-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-item a:hover img {
  transform: scale(1.05);
}

.project-text h3 {
  font-family: "urbane", sans-serif;
  font-size: 1.2rem;
  color: #2E2A2A;
  text-align: left;
}

.project-text .year {
  font-family: "urbane", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #2E2A2A;
  margin-bottom: 1rem;
  text-align: left;
}

.project-text p {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #2E2A2A;
  text-align: left;
}

/* Responsive styling for projects on smaller screens */
@media (max-width: 1024px) {
  .projects {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .projects {
    width: 100%;
    padding: 0 2rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-item img {
    width: 100%;
    height: auto;
  }

  #branding .project-item:nth-child(2),
  #branding .project-item:nth-child(3) {
    display: none;
  }
}

/* Case page */
header a {
  text-decoration: none;
}

/* Introduction section */
.intro-container {
  margin-top: 1px;
  display: flex;
  align-items: center;
  background-color: #2E2A2A;
  padding-left: 10rem;
  box-sizing: border-box;
}

.intro-text {
  width: 60%;
}

.intro-heading {
  font-size: 2rem;
  color: #F9F9F6;
  font-family: "urbane", sans-serif;
  padding-top: 1rem;
}

.intro-text p {
  font-size: 1rem;
  color: #F9F9F6;
  font-family: "urbane", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

p.introduction-text {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
}

.intro-details {
  display: flex;
  gap: 7rem;
}

.intro-details h5 {
  font-family: "urbane", sans-serif;
  font-size: 1rem;
  color: #F9F9F6;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.intro-details p {
  font-family: "urbane", sans-serif;
  font-size: 1rem;
  color: #F9F9F6;
  font-weight: 200;
  margin-bottom: 0;
}

.intro-details a {
  color: #F9F9F6;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  margin-bottom: 0.3rem;
}

.intro-details a:hover {
  color: #FF9900;
  transform: translateX(10px);
}

.intro-image {
  width: 60%;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.intro-image img {
  width: 100%;
  height: auto;
}

/* Responsiive styling for introduction section on smaller screens */
@media (max-width: 1024px) {
  .intro-container {
    flex-direction: column;
    padding: 2rem 5rem;
    text-align: center;
  }

  .intro-text {
    width: 100%;
    margin-bottom: 2rem;
  }

  .intro-heading {
    font-size: 1.8rem;
    padding-top: 0;
  }

  .intro-details {
    flex-direction: column;
    gap: 2rem;
  }

  .intro-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .intro-container {
    padding: 2rem 3rem;
  }

  .intro-text p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .intro-heading {
    font-size: 1.5rem;
  }

  .intro-details {
    gap: 1.5rem;
  }

  .intro-details h5,
  .intro-details p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .intro-container {
    padding: 1rem;
  }

  .intro-heading {
    font-size: 1.2rem;
  }

  .intro-text p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  /* Introduction details */
  .intro-details {
    gap: 1rem;
  }

  .intro-details h5,
  .intro-details p {
    font-size: 0.8rem;
  }
}

/* Case-section-1: Introduction, My role, and Challenge */
.case-section-1 {
  max-width: 90ch;
  margin: 0 auto;
  text-align: left;
  padding-top: 2rem;
}

.case-section-1 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.case-section-1 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #2E2A2A;
  font-weight: 500;
  line-height: 1.5rem;

}

/* Responsive styling for case-section-1 on smaller screens */
@media (max-width: 1024px) {
  .case-section-1 {
    padding: 2rem 5rem;
  }
}

@media (max-width: 768px) {
  .case-section-1 {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .case-section-1 {
    padding: 1rem;
  }
}

/* Case-section-2: Full width image */
.case-section-2 img {
  width: 100%;
  height: auto;
  display: block;
}

/* Case-section- 3: Design process */
.case-section-3 {
  max-width: 90ch;
  margin: 0 auto;
  text-align: left;
  padding-top: 2rem;
}

.case-section-3 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.case-section-3 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #2E2A2A;
}

.case-section-3-image {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
}

/* Responsive styling for case-section-3 on smaller screens */
@media (max-width: 1024px) {
  .case-section-3 {
    padding: 2rem 5rem;
  }

  .case-section-3-image {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .case-section-3 {
    padding: 2rem;
  }

  .case-section-3-image {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .case-section-3 {
    padding: 1rem;
  }

  .case-section-3-image {
    width: 90%;
  }
}


/* Case-section-4: Research and data */
.case-section-4 {
  background-color: #2E2A2A;
  padding-bottom: 3rem;
}

.text-image-container-4 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem 15rem;
}

.text-image-container-4 h3 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.text-image-row-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.text-image-row-4 p {
  width: 90ch;
  margin: 0;
  color: #F9F9F6;
  line-height: 1.5rem;
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.text-image-row-4 img {
  width: 30%;
  height: auto;
}

/* Responsive styling for case-section-4 on smaller screens */
@media (max-width: 1024px) {
  .text-image-container-4 {
    padding: 2rem 5rem;
  }

  .text-image-container-4 h3 {
    margin-top: 0;
  }

  .text-image-row-4 {
    flex-direction: column;
    align-items: center;
  }

  .text-image-row-4 p {
    width: 100%;
    margin-bottom: 1rem;
  }

  .text-image-row-4 img {
    width: 80%;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .text-image-container-4 {
    padding: 2rem;
  }

  .text-image-row-4 {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .text-image-row-4 p {
    width: 100%;
    margin-top: -4rem;
    /*Nödlösning*/
  }

  .text-image-row-4 img {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .text-image-container-4 {
    padding: 1rem;
  }

  .text-image-row-4 {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .text-image-row-4 p {
    width: 100%;
  }

  .text-image-row-4 img {
    width: 100%;
    margin-top: 1rem;
  }
}

/* Case-section-5: Explorations */
.case-section-5 {
  background-color: #F9F9F6;
  padding-bottom: 3rem;
}

.text-image-container-5 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem 15rem;
}

.text-image-container-5 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.text-image-row-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.text-image-row-5 p {
  width: 90ch;
  margin: 0;
  color: #2E2A2A;
  line-height: 1.5rem;
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.text-image-row-5 img {
  width: 30%;
  height: auto;
}

/* Responsive styling for case-section-5 on smaller screens */
@media (max-width: 1024px) {
  .text-image-container-5 {
    padding: 2rem 5rem;
  }

  .text-image-container-5 h3 {
    margin-top: 0;
  }

  .text-image-row-5 {
    flex-direction: column;
    align-items: center;
  }

  .text-image-row-5 p {
    width: 100%;
    margin-bottom: 1rem;
    order: -1;
    margin-top: -4rem;
    /*Nödlösning*/
  }

  .text-image-row-5 img {
    width: 80%;
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .text-image-container-5 {
    padding: 2rem;
  }

  .text-image-row-5 {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .text-image-row-5 p {
    width: 100%;
    order: -1;
  }

  .text-image-row-5 img {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .text-image-container-5 {
    padding: 1rem;
  }

  .text-image-row-5 {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .text-image-row-5 p {
    width: 100%;
    order: -1;
  }

  .text-image-row-5 img {
    width: 100%;
    margin-top: 1rem;
  }
}

/* Case-section-6: Validation */
.case-section-6 {
  background-color: #2E2A2A;
  box-sizing: border-box;
}

.case-section-6-text {
  max-width: 90ch;
  margin: 0 auto;
  text-align: left;
  padding: 2rem 0;
}

.case-section-6 h3 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.case-section-6 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #F9F9F6;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

/* Responsive styling for case-section-6 on smaller screens */
@media (max-width: 1024px) {
  .case-section-6 {
    padding: 2rem 5rem;
  }
}

@media (max-width: 768px) {
  .case-section-6 {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .case-section-6 {
    padding: 1rem;
  }
}

/* Case-section-7: Solution */
.case-section-7 {
  background-color: #F9F9F6;
  box-sizing: border-box;
}

.case-section-7-text {
  max-width: 90ch;
  margin: 0 auto;
  text-align: left;
  padding: 2rem 0;
}

.case-section-7 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.case-section-7 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #2E2A2A;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.case-7-image-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
}

.case-7-image-row img {
  width: 20%;
  min-width: 150px;
  height: auto;
  object-fit: cover;
}

/* Responsive styling for case-section-7 on smaller screens */
@media (max-width: 1024px) {
  .case-section-7 {
    padding: 2rem 5rem;
  }

  .case-7-image-row {
    justify-content: center;
    gap: 1rem;
  }

  .case-7-image-row img {
    width: 40%;
    min-width: 200px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .case-section-7 {
    padding: 2rem;
  }

  .case-7-image-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .case-7-image-row img {
    max-width: 90%;
    min-width: 250px;
    height: auto;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {

  .case-section-7 {
    padding: 1rem;
  }

  .case-7-image-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .case-7-image-row img {
    max-width: 90%;
    min-width: 270px;
    height: auto;
    margin-bottom: 1rem;
  }
}

/* Back to top link*/
.to-top-link {
  text-align: center;
  padding: 2rem;
}

.to-top-link a {
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.to-top-link a:hover {
  color: #FF9900;
}

/* About page */

/* About me section */
.about {
  background-color: #F9F9F6;
  padding: 2rem 10rem;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.about h2 {
  font-family: "urbane", sans-serif;
  font-weight: bold;
  color: #2E2A2A;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about .text p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
}

.hello {
  font-weight: 500;
}

.about-image img {
  width: 350px;
  height: auto;
}

/* Responsive styling for about on smaller screens */
@media (max-width: 1024px) {
  .about {
    padding: 3rem;
    gap: 4rem;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }

  .about-image {
    order: -1;
  }

  .about-image img {
    width: 100%;
  }

  .about h2 {
    font-size: 2rem;
  }
}

/* Contact */
.contact {
  background-color: #F9F9F6;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact h2 {
  font-family: "urbane", sans-serif;
  font-weight: bold;
  color: #2E2A2A;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.contact h3 {
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  color: #2E2A2A;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.contact li {
  list-style: none;
  margin-bottom: 0.6rem;
}

.contact ul li a {
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  color: #2E2A2A;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-solid {
  color: #2E2A2A;
  margin-right: 10px;
}

/* Responsive styling for contact on smaller screens */
@media (max-width: 1024px) {
  .contact {
    padding: 0 3rem 2rem 3rem;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 2rem;
  }
}

/* Footer */
footer {
  background-color: #2E2A2A;
  padding: 1rem 3rem;
  text-align: left;
}

footer h2 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-row {
  display: flex;
  justify-content: flex-start;
}

.footer-links {
  width: 20%;
}

.footer-links h3 {
  margin-bottom: 20px;
  font-family: "basic-sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #F9F9F6;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  text-decoration: none;
  color: #F9F9F6;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.site-links {
  display: grid;
  gap: 10px;
}

.copy {
  color: #F9F9F6;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  margin-top: 3rem;
  font-size: 1rem;
}

.site-links a:hover {
  transform: translateX(10px);
  color: #FF9900;
}

/* Responsive styling for footer on smaller screens */
@media screen and (max-width: 1024px) {
  footer {
    padding: 2rem;
  }

  .footer-links {
    width: 30%;
  }

  .social-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  footer {
    padding: 1.5rem;
    text-align: center;
  }

  footer h2 {
    font-size: 2rem;
    text-align: center;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .site-links {
    margin-bottom: 2rem;
  }

  .social-links {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}