/* Grundläggande styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
}

main {
  background-color: #F9F9F6;
}

/* För sektionerna som ska scrollas till */
section:target {
  padding-top: 80px;  /* Justera beroende på höjd på din navbar */
  margin-top: -80px;  /* Kompenserar för navbarens höjd */
}

html {
  scroll-behavior: smooth;
}




/* Rörlig Navbar */
.navbar-animate {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  position: sticky;
  /* Gör navbaren sticky */
  top: 0;
  /* Fastnar när den når toppen */
  background-color: #2E2A2A;
  /* Sätt samma bakgrundsfärg som du har för din banner */
  width: 100%;
  /* Gör navbaren lika bred som skärmen */
  z-index: 9999;
  /* Ser till att navbaren ligger ovanpå annat innehåll */
  padding: 1rem;
}

.navbar-animate ul {
  list-style: none;
  /* Tar bort standard punktlista */
  display: flex;
  /* Gör listan horisontell */
  justify-content: center;
  /* Centrerar listan horisontellt */
  gap: 6rem;
  /* Ger utrymme mellan varje länk */
}

.nav-link-animate {
  padding-bottom: 5px;
  /* Ger utrymme för strecket */
  display: inline-block;
  text-decoration: none;
  color: #F9F9F6;
  font-size: 1.2rem;
  opacity: 0;
  /* Länkarna är osynliga i början */
  transform: translateX(-20px);
  /* Börjar vänster om sin normala plats */
  animation: slideIn 0.5s ease-out forwards;
  /* Animation för varje länk */
  animation-delay: calc(0.5s * var(--index));
  /* Fördröjning för varje länk, börjar från vänster */
}

/* Animation för att länkarna ska "segla in" från vänster */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* För att sätta index på varje länk */
.navbar-animate li:nth-child(1) {
  --index: 1;
}

.navbar-animate li:nth-child(2) {
  --index: 2;
}

.navbar-animate li:nth-child(3) {
  --index: 3;
}

/* För hover-effekt med växande streck från vänster till höger */
.nav-link-animate::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  /* Tunn höjd för strecket vid hover */
  background-color: #F9F9F6;
  transition: width 0.3s ease;
  /* Gör att bredden växer från vänster */
  border-radius: 3px;
  /* Runda kanter på strecket */
}

/* När användaren hovrar på en länk */
.nav-link-animate:hover::before {
  width: 100%;
  /* Strecket växer till 100% bredd */
}

/* För den aktiva länken (streck under "Start" när sidan laddas) */
.nav-link-animate.active::before {
  width: 100%;
  /* Se till att strecket under aktiv länk är fullt brett */
  height: 2px;
  /* Gör strecket lika tunt som vid hover */
  background-color: #AF9D8F;
}

/* Statisk Navbar */
.navbar {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  position: sticky;
  /* Gör navbaren sticky */
  top: 0;
  /* Fastnar när den når toppen */
  background-color: #2E2A2A;
  /* Sätt samma bakgrundsfärg som du har för din banner */
  width: 100%;
  /* Gör navbaren lika bred som skärmen */
  z-index: 9999;
  /* Ser till att navbaren ligger ovanpå annat innehåll */
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  /* Tar bort standard punktlista */
  display: flex;
  /* Gör listan horisontell */
  justify-content: center;
  /* Centrerar listan horisontellt */
  gap: 6rem;
  /* Ger utrymme mellan varje länk */
}

.nav-link {
  padding-bottom: 5px;
  /* Ger utrymme för strecket */
  display: inline-block;
  text-decoration: none;
  color: #F9F9F6;
  font-size: 1.2rem;
  opacity: 1;
  /* Gör länkarna synliga direkt */
  transform: translateX(0);
  /* Ta bort animationens vänsterskift */
  /* Ingen animation för att länkarna ska vara statiska */
}

/* För hover-effekt med växande streck från vänster till höger */
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  /* Tunn höjd för strecket vid hover */
  background-color: #F9F9F6;
  transition: width 0.3s ease;
  /* Gör att bredden växer från vänster */
  border-radius: 3px;
  /* Runda kanter på strecket */
}

/* När användaren hovrar på en länk */
.nav-link:hover::before {
  width: 100%;
  /* Strecket växer till 100% bredd */
}

/* För den aktiva länken (streck under "Start" när sidan laddas) */
.nav-link.active::before {
  width: 100%;
  /* Se till att strecket under aktiv länk är fullt brett */
  height: 2px;
  /* Gör strecket lika tunt som vid hover */
  background-color: #AF9D8F;
}

/*Start*


/*Banner*/

.banner {
  height: 100vh;
  /* Full höjd på skärmen */
  background-color: #2E2A2A;
  /* Svart bakgrund */
}

/* Titel-styling */
.heading {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 12vw;
  /* Gör rubriken stor */
  width: 100%;
  /* Tar upp hela skärmbredden */
  text-align: center;
  margin: 0;
  /* Ingen extra marginal */
  padding: 0;
  /* Vertikalt utrymme */
  position: absolute;
  /* Absolut placering */
  bottom: 0;
  /* Placerar längst ner i förälderelementet */
  animation: slideInFromLeft 1s ease-out forwards;
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    /* Startar utanför skärmen till vänster */
    opacity: 0;
    /* Börjar osynlig */
  }

  100% {
    transform: translateX(0);
    /* Slutar på sin normala plats */
    opacity: 1;
    /* Slutar synlig */
  }
}




/* Sektion 2*/
.section-2 {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #2E2A2A;
  /* Svart/grå bakgrund */
}

.section-2 .container {
  display: flex;
  align-items: center;
  /* Vertikal centrering */
  width: 60%;
  margin: 0 auto;
}

.section-2 .image {
  width: 50%;
  /* Bilden tar upp 45% av utrymmet */
  height: auto;
}


.section-2 .text {
  width: 50%;
  /* Texten tar upp 50% av bredden */
  color: #F9F9F6;
  /* Ljus textfärg */
  padding-left: 2rem;
  /* Utrymme mellan bild och text */
}


.text h2,
.text p {
  font-family: "lft-etica-mono", sans-serif;
  font-style: normal;
  text-align: left;
  font-size: 1.4rem;
}

.highlighted {
  color: #AF9D8F;
}


p.additional-text {
  margin-top: 5rem;
  margin-bottom: 2rem;
  /* Liten avstånd före knappen */
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}

/* Stil på knappen */
/* Gör länken som en knapp */
.button {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px 20px;
  background-color: #F9F9F6;
  color: #2E2A2A;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: none; /* Ta bort understrykning */
  display: inline-block; /* Gör att den beter sig som en knapp */
}

.button:hover {
  background-color: #c6c4c4;
  transform: translateY(3px);  /* För att skapa nedtryckseffekt */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(5px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



/* Responsiv design - Bild och text staplas vid mindre skärmar */
@media screen and (max-width: 768px) {
  .section-2 .container {
    flex-direction: column;
    /* Stapla bild och text vertikalt */
    text-align: center;
    /* Centrerar texten */
  }

  .section-2 .image {
    width: 100%;
    /* Gör bilden större på små skärmar */
    margin-bottom: 1rem;

  }

  .section-2 .text {
    width: 100%;
    text-align: left;
    /* Centrerar texten */
    font-size: 0.6rem;
  }

}


/*Sektion 3*/

.section-3 {
  background-color: #F9F9F6;
}

.recent-projects {
  max-width: 1200px;
  /* Maxbredd för sektionen */
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  padding: 4rem 0;

}

.recent-projects h2 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  /* Textfärg */
  text-align: left;
  margin-bottom: 2rem;
  /* Avstånd mellan rubrik och bilder */
  padding-left: 0;
  /*Gör rubriken i linje med första bilden*/
  font-size: 1.5rem;
}

/* Behåll bilderna och texten på rad */
.image-container {
  display: flex;
  gap: 2rem;
  /* Utrymme mellan bilderna */
  margin: 0 auto;
  /* Centrerar hela container */
}

/* Varje bild + texten under */
.image-item {
  width: 40%;
  /* Varje bild tar upp 40% av bredden */
  flex-direction: column;
  /* Bilden ovanför texten */
}

/* Bilderna kommer att vara samma storlek */
.image-item img {
  width: 100%;
  /* Gör så att bilden tar upp hela bredden av sitt element */
  height: auto;
  /* Sätt en fast höjd */
  margin-bottom: 10px;
}

/* Text under varje bild */
.text-container {
  width: 100%;
  /* Matchar bredden på bilden */
  padding-left: 0;
  /* Ingen extra padding */
  margin: 0;
  /* Ingen extra marginal */

}

.text-container h3,
.text-container .year,
.text-container .caption {
  margin: 0;
  /* Ta bort onödiga marginaler */
  padding: 0;
  /* Ingen extra padding */
}

/* Rubrik under bild */
.text-container h3 {
  color: #2E2A2A;
  font-family: "urbane", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Årtal */
.text-container .year {
  font-family: "urbane", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  color: #2E2A2A;
  margin-bottom: 2rem;
}

/* Bildtext */
.text-container .caption {
  font-size: 0.9rem;
  font-weight: normal;
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
}






/*Projects*/

/*Navbar-Projects*/
/* Navbar för projekt */
.navbar-projects {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 4rem;
}

.navbar-projects-list {
  list-style: none;
  display: flex;
  gap: 50px; /* Sätter avstånd mellan varje länk */
  padding: 0;
  margin: 0;
}

.navbar-projects-link {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #2E2A2A;
  display: inline-block; /* Gör att länken beter sig som en block, vilket behövs för transformering */
  transition: transform 0.3s ease; /* Lägg till transition för att effekten ska vara smidig */
}

.navbar-projects-link:hover {
  color: #AF9D8F; /* Förändra färgen vid hover */
  transform: translateY(5px); /* Länken hoppar ner 5px när man hovrar */
}





/* UI-sektionen */
.ui-projects-container {
  width: 80%;
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
}

.ui-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.ui-projects-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ui-project-item {
  flex: 1;
  text-align: left;
  background-color: #2E2A2A;
  padding: 1rem;
}

.ui-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ui-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.ui-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.ui-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .ui-projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .ui-project-item {
    width: 100%;
  }

  .ui-project-image {
    width: 90%;
    height: auto;
  }

  .ui-project-title {
    font-size: 1rem;
  }
}

/* Branding-sektionen */
.branding-project-container {
  width: 80%;
  /* Samma bredd som UI-sektionen */
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  margin-top: 5rem;

}

.branding-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.branding-project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* För att använda hela bredden */
  max-width: 32%;
  /* Gör att varje branding-projekt inte blir större än detta */
  box-sizing: border-box;
  /* Säkerställer korrekt padding */
  margin-bottom: 20px;
  /* Lägg till samma avstånd som UI-sektionen */
  background-color: #2E2A2A;
  padding: 1rem;
}

.branding-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.branding-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.branding-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.branding-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .branding-project-container {
    width: 80%;
    margin: 0 auto;
  }

  .branding-project-item {
    width: 100%;
    max-width: 100%;
    /* Ser till att varje projekt tar upp hela bredden på skärmen */
    margin-bottom: 20px;
  }

  .branding-project-image {
    width: 90%;
    /* Gör bilderna i branding till 90% */
    height: auto;
  }

  .branding-project-title {
    font-size: 1rem;
  }

  .branding-project-description {
    font-size: 1rem;
    margin: 1rem 0;
  }
}



/*Graphic Design*/
.graphic-projects-container {
  width: 80%;
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  margin-top: 5rem;
}

.graphic-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.graphic-projects-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graphic-project-item {
  flex: 1;
  text-align: left;
  background-color: #2E2A2A;
  padding: 1rem;
}

.graphic-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.graphic-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.graphic-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.graphic-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .graphic-projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .graphic-project-item {
    width: 100%;
  }

  .graphic-project-image {
    width: 90%;
    height: auto;
  }

  .graphic-project-title {
    font-size: 1rem;
  }
}

/*Web Design*/
.web-projects-container {
  width: 80%;
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.web-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.web-projects-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.web-project-item {
  flex: 1;
  text-align: left;
  background-color: #2E2A2A;
  padding: 1rem;
}

.web-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.web-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.web-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.web-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .web-projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .web-project-item {
    width: 100%;
  }

  .web-project-image {
    width: 90%;
    height: auto;
  }

  .web-project-title {
    font-size: 1rem;
  }
}


/*About*/

.about-heading, .projects-heading {
  font-size: 3rem;
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  background-color: #2E2A2A;
  padding: 2rem 3rem;
}

.about {
  padding: 1rem;
  background-color: #F9F9F6;
  text-align: center;
}


.about h2 {
  font-family: "urbane", sans-serif;
  font-weight: bold;
  color: #2E2A2A;
  font-size: 2rem;
  margin-bottom: 2rem;
}


.about .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  width: 80%;
  gap: 0 100px;
}

.about .text {
  flex: 1;
  /* Text takes up available space */
  flex-wrap: wrap;
  /* Gör så att bilderna radbryts vid mindre skärmar */

}

.text .hello {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8;
}


.about .text p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
}


.about-image img {
  width: 300px;
  height: auto;

}

/* Responsiv design för mindre skärmar */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Byt till kolumnlayout på mindre skärmar */
  }

  .text {
    max-width: 100%;
    /* Texten ska ta upp hela bredden */
    margin-bottom: 1.5rem;
  }

  .image {
    max-width: 100%;
    /* Bilden ska ta upp hela bredden */

  }
}

/*Contact*/

.contact .container {
  flex-direction: column;
  text-align: left;
}

.contact {
  background-color: #F9F9F6;
  text-align: left;


}

.contact h2 {
  font-family: "urbane", sans-serif;
  font-weight: bold;
  color: #2E2A2A;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}



.contact h3 {
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.contact li {
  list-style: none;
  margin-bottom: 10px;
}

.contact ul li a {
  color: #2E2A2A;
}

.fa-solid {
  color: #2E2A2A;
  margin-right: 10px;
}

.connect li :hover {
  color: #FF9900;
}


/*Footer*/

footer {
  background-color: #2E2A2A;
  padding: 20px;
  text-align: left;
  /* Lägg till för att vänsterjustera all text i footern */
}

footer h2 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  /* Textfärg */
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-row {
  display: flex;
  justify-content: flex-start;
  /* Vänsterjustera alla element på varje rad */
  margin-bottom: 10px;
}

.footer-left {
  width: 20%;
}

.footer-left h3 {
  margin-bottom: 20px;
  font-family: "basic-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #F9F9F6;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  text-decoration: none;
  color: #F9F9F6;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: inline-block;
  /* Gör länkarna till block så att de kan flyttas */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Lägg till en övergång för att göra effekten smidig */
}

/* Hover-effekt */
footer ul li a:hover {
  transform: translateX(10px);
  /* Flytta länken 10px åt höger */
  color: #FF9900;
  /* Ändra färg vid hover */
}

.social-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}


.copy {
  color: #F9F9F6;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 30px;
  font-size: 1rem;

}

.social-links {
  line-height: 6px;
}

.footer-left {
  line-height: 15px;
}


