/* Grundläggande styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
}

main {
  background-color: #F9F9F6;
}

/* För sektionerna som ska scrollas till */
section:target {
  padding-top: 80px;
  margin-top: -80px;
}

html {
  scroll-behavior: smooth;
}


/* Navbars */

/* Rörlig Navbar */

.navbar-animate {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  position: sticky;
  top: 0;
  background-color: #2E2A2A;
  width: 100%;
  z-index: 9999;
  padding: 1rem;
}

.navbar-animate ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.nav-link-animate {
  padding-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  color: #F9F9F6;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s ease-out forwards;
  animation-delay: calc(0.5s * var(--index));
}

/* Animation för att länkarna ska "segla in" från vänster */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* För att sätta index på varje länk */
.navbar-animate li:nth-child(1) {
  --index: 1;
}

.navbar-animate li:nth-child(2) {
  --index: 2;
}

.navbar-animate li:nth-child(3) {
  --index: 3;
}

/* För hover-effekt med växande streck från vänster till höger */
.nav-link-animate::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F9F9F6;
  transition: width 0.3s ease;
  border-radius: 3px;
}

.nav-link-animate:hover::before {
  width: 100%;
}

/* För den aktiva länken (streck under "Start" när sidan laddas) */
.nav-link-animate.active::before {
  width: 100%;
  height: 2px;
  background-color: #AF9D8F;
}

/* Statisk Navbar */
.navbar {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  position: sticky;
  top: 0;
  background-color: #2E2A2A;
  width: 100%;
  z-index: 9999;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.nav-link {
  padding-bottom: 5px;
  display: inline-block;
  text-decoration: none;
  color: #F9F9F6;
  font-size: 1.2rem;
  opacity: 1;
  transform: translateX(0);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F9F9F6;
  transition: width 0.3s ease;
  border-radius: 3px;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link.active::before {
  width: 100%;
  height: 2px;
  background-color: #AF9D8F;
}

/*Startsida/*

/*Banner*/

.banner {
  height: 100vh;
  background-color: #2E2A2A;
}

.heading {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 12vw;
  /*Ändra enhet?*/
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  animation: slideInFromLeft 1s ease-out forwards;
}

/* Animation för att rubriken ska "segla in" från vänster */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}






/* Sektion 2 */
.section-2 {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #2E2A2A;
}

.section-2 .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
}

.section-2 .image {
  width: 45%;
  height: auto;
  transition: all 0.3s ease;
}

.section-2 .text {
  width: 50%;
  color: #F9F9F6;
  padding-left: 2rem;
  text-align: left;
}

.text h2,
.text p {
  font-family: "lft-etica-mono", sans-serif;
  font-style: normal;
  text-align: left;
  font-size: 1.4rem;
}

.highlighted {
  color: #AF9D8F;
}

p.additional-text {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}

/* Button */
.button {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px 20px;
  background-color: #F9F9F6;
  color: #2E2A2A;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #c6c4c4;
  transform: translateY(3px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(5px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Mediaquery */
@media screen and (max-width: 768px) {
  .section-2 .container {
    flex-direction: column;
    text-align: left;
  }

  .section-2 .image {
    width: 100%;
    margin-bottom: 1rem;
  }

  .section-2 .text {
    width: 100%;
    padding-left: 0;
    font-size: 1rem;
    margin-top: 1rem;
  }

  p.additional-text {
    margin-top: 2rem;
  }

}


/* Sektion 3 */
.section-3 {
  background-color: #F9F9F6;
}

.recent-projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

.recent-projects h2 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  text-align: left;
  margin-bottom: 2rem;
  padding-left: 0;
  font-size: 1.5rem;
}

/* Behåll bilderna och texten på rad */
.image-container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  flex-wrap: wrap;
  /* Lägger till så att innehållet kan brytas på mindre skärmar */
}

/* Varje bild + texten under */
.image-item {
  width: 30%;
  flex-direction: column;
  /* Bilden ovanför texten */
}

/* Bilderna kommer att vara samma storlek */
.image-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Text under varje bild */
.text-container {
  width: 100%;
  padding-left: 0;
  margin: 0;
}

/* Rubrik under bild */
.text-container h3 {
  color: #2E2A2A;
  font-family: "urbane", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Årtal */
.text-container .year {
  font-family: "urbane", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #2E2A2A;
  margin-bottom: 2rem;
}

/* Bildtext */
.text-container .caption {
  font-size: 1rem;
  font-weight: normal;
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
}

/* Mediaquery för små skärmar (t.ex. mobiltelefoner) */
@media screen and (max-width: 768px) {

  .section-3 {
    padding: 0 3rem;
  }

  .recent-projects h2 {
    font-size: 1.2rem;
    /* Justera storlek på rubriken för små skärmar */
  }

  .text-container h3 {
    font-size: 1rem;
    /* Justera storleken på rubriken under bilden */
  }

  .text-container .year {
    font-size: 1rem;
    /* Justera storleken på årtalet */
    margin-bottom: 1rem;
  }

  .text-container .caption {
    font-size: 1rem;
    /* Justera storleken på bildtexten */
    margin-bottom: 2rem;
  }



  .image-container {
    flex-direction: column;
    gap: 1rem;
    /* Minska gapet när bilderna staplas vertikalt */
  }

  .image-item {
    width: 100%;
    /* Gör varje bild 100% av bredden på små skärmar */
  }

}






/*Projects*/

/*Navbar-Projects*/
/* Navbar för projekt */

.navbar-projects {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 4rem;
}

.navbar-projects-list {
  list-style: none;
  display: flex;
  gap: 50px;
  /* Sätter avstånd mellan varje länk */
  padding: 0;
  margin: 0;
}

.navbar-projects-link {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #2E2A2A;
  display: inline-block;
  /* Gör att länken beter sig som en block, vilket behövs för transformering */
  transition: transform 0.3s ease;
  /* Lägg till transition för att effekten ska vara smidig */
}

.navbar-projects-link:hover {
  color: #AF9D8F;
  /* Förändra färgen vid hover */
  transform: translateY(5px);
  /* Länken hoppar ner 5px när man hovrar */
}





/* UI-sektionen */
.ui-projects-container {
  width: 80%;
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
}

.ui-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.ui-projects-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ui-project-item {
  flex: 1;
  text-align: left;
  background-color: #2E2A2A;
  padding: 1rem;
}

.ui-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ui-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.ui-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.ui-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .ui-projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .ui-project-item {
    width: 100%;
  }

  .ui-project-image {
    width: 90%;
    height: auto;
  }

  .ui-project-title {
    font-size: 1rem;
  }
}

/* Branding-sektionen */
.branding-project-container {
  width: 80%;
  /* Samma bredd som UI-sektionen */
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  margin-top: 5rem;

}

.branding-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.branding-project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* För att använda hela bredden */
  max-width: 32%;
  /* Gör att varje branding-projekt inte blir större än detta */
  box-sizing: border-box;
  /* Säkerställer korrekt padding */
  margin-bottom: 20px;
  /* Lägg till samma avstånd som UI-sektionen */
  background-color: #2E2A2A;
  padding: 1rem;
}

.branding-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.branding-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.branding-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.branding-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .branding-project-container {
    width: 80%;
    margin: 0 auto;
  }

  .branding-project-item {
    width: 100%;
    max-width: 100%;
    /* Ser till att varje projekt tar upp hela bredden på skärmen */
    margin-bottom: 20px;
  }

  .branding-project-image {
    width: 90%;
    /* Gör bilderna i branding till 90% */
    height: auto;
  }

  .branding-project-title {
    font-size: 1rem;
  }

  .branding-project-description {
    font-size: 1rem;
    margin: 1rem 0;
  }
}



/*Graphic Design*/
.graphic-projects-container {
  width: 80%;
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  margin-top: 5rem;
}

.graphic-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.graphic-projects-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graphic-project-item {
  flex: 1;
  text-align: left;
  background-color: #2E2A2A;
  padding: 1rem;
}

.graphic-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.graphic-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.graphic-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.graphic-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .graphic-projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .graphic-project-item {
    width: 100%;
  }

  .graphic-project-image {
    width: 90%;
    height: auto;
  }

  .graphic-project-title {
    font-size: 1rem;
  }
}

/*Web Design*/
.web-projects-container {
  width: 80%;
  margin: 0 auto;
  /* Centrerar sektionen på sidan */
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.web-projects-header {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #2E2A2A;
}

.web-projects-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.web-project-item {
  flex: 1;
  text-align: left;
  background-color: #2E2A2A;
  padding: 1rem;
}

.web-project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.web-project-title {
  font-family: "urbane", sans-serif;
  font-weight: 600;
  color: #F9F9F6;
  font-size: 1rem;
}

.web-year {
  font-family: "urbane", sans-serif;
  font-weight: 400;
  color: #F9F9F6;
  font-size: 0.9rem;
}

.web-project-description {
  font-family: "lft-etica-mono", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #F9F9F6;
}

/* Media Query för mindre skärm */
@media (max-width: 768px) {
  .web-projects-grid {
    flex-direction: column;
    align-items: center;
  }

  .web-project-item {
    width: 100%;
  }

  .web-project-image {
    width: 90%;
    height: auto;
  }

  .web-project-title {
    font-size: 1rem;
  }
}


/*About*/

.about-heading,
.projects-heading {
  font-size: 3rem;
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  background-color: #2E2A2A;
  padding: 2rem 3rem;
}

.about {
  padding: 1rem;
  background-color: #F9F9F6;
  text-align: center;
}


.about h2 {
  font-family: "urbane", sans-serif;
  font-weight: bold;
  color: #2E2A2A;
  font-size: 2rem;
  margin-bottom: 2rem;
}


.about .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
  width: 80%;
  gap: 0 100px;
}

.about .text {
  flex: 1;
  /* Text takes up available space */
  flex-wrap: wrap;
  /* Gör så att bilderna radbryts vid mindre skärmar */

}

.text .hello {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}


.about .text p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
}


.about-image img {
  width: 300px;
  height: auto;

}

/* Responsiv design för mindre skärmar */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Byt till kolumnlayout på mindre skärmar */
  }

  .text {
    max-width: 100%;
    /* Texten ska ta upp hela bredden */
    margin-bottom: 1.5rem;
  }

  .image {
    max-width: 100%;
    /* Bilden ska ta upp hela bredden */

  }
}

/*Contact*/

.contact .container {
  flex-direction: column;
  text-align: left;
}

.contact {
  background-color: #F9F9F6;
  text-align: left;


}

.contact h2 {
  font-family: "urbane", sans-serif;
  font-weight: bold;
  color: #2E2A2A;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}



.contact h3 {
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.contact li {
  list-style: none;
  margin-bottom: 10px;
}

.contact ul li a {
  color: #2E2A2A;
  display: inline-block;
  /* Gör att länkarna beter sig som block så att de kan flyttas */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Gör effekten smidig */
}

.fa-solid {
  color: #2E2A2A;
  margin-right: 10px;
}

.connect li :hover {
  color: #FF9900;
  transform: translateX(10px);
  /* Flytta länken 10px åt höger */

}

/* Footer */

footer {
  background-color: #2E2A2A;
  padding: 1rem 3rem;
  text-align: left;
}

footer h2 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.footer-left {
  width: 20%;
}

.footer-left h3 {
  margin-bottom: 20px;
  font-family: "basic-sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #F9F9F6;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  text-decoration: none;
  color: #F9F9F6;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover-effekt */
footer ul li a:hover {
  transform: translateX(10px);
  color: #FF9900;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.copy {
  color: #F9F9F6;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  margin-top: 30px;
  font-size: 1rem;
}

/* Mediaquery för små skärmar (mobiler, max 600px) */
@media screen and (max-width: 600px) {
  footer {
    padding: 1rem;
    text-align: center;
    /* Centrerar texten på små skärmar */
  }

  footer h2 {
    font-size: 2rem;
  }

  .footer-row {
    flex-direction: column;
    /* Stapla innehållet vertikalt */
    align-items: center;
    /* Centrerar innehållet */
  }

  .footer-left {
    width: 100%;
    /* Gör varje sektion fullbredd */
    margin-bottom: 2rem;
    /* Lägg till lite utrymme mellan sektionerna */
    text-align: center;
    /* Centrerar texten inom varje sektion */
  }

  .footer-left h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .social-links {
    grid-template-columns: 1fr 1fr 1fr;
    /* Gör sociala länkar till 3 kolumner på små skärmar */
  }

  .copy {
    font-size: 1rem;
  }
}



/*Case*/

/* Case Container */

header a {
  text-decoration: none;
  /* Tar bort understrykning från länken */
}


.case-container {
  margin-top: 1px;
  display: flex;
  align-items: center;
  background-color: #2E2A2A;
  padding-left: 7rem;
  box-sizing: border-box;
  /* Säkerställer att padding inte påverkar bredden */
}

/* Text Section */
.case-text {
  width: 60%;
}

.case-heading {
  font-size: 2rem;
  color: #F9F9F6;
  font-family: "urbane", sans-serif;
}

.case-text p {
  font-size: 1rem;
  color: #F9F9F6;
  font-family: "urbane", sans-serif;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

p.introduction-text {
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 200;
}

/* Small Texts Section */
.case-small-texts {
  display: flex;
  gap: 7rem;
}

.case-small-texts div {
  display: flex;
  flex-direction: column;
}

.case-small-texts h5 {
  font-family: "urbane", sans-serif;
  font-size: 1rem;
  color: #F9F9F6;
  font-weight: 600;
  margin-bottom: 0.5rem;
  /* Ger lite utrymme mellan rubrik och text */
}

.case-small-texts p {
  font-family: "urbane", sans-serif;
  font-size: 1rem;
  color: #F9F9F6;
  font-weight: 200;
  margin-bottom: 0;
  /* Tar bort mellanrum under varje p */
}

.case-small-texts a {
  color: #F9F9F6;
  display: inline-block;
  /* Gör att länkarna beter sig som block så att de kan flyttas */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Gör effekten smidig */
  margin-bottom: 0.3rem;
}

.case-small-texts a:hover {
  color: #FF9900;
  transform: translateX(10px);
  /* Flytta länken 10px åt höger */

}

/* Image Section */
.case-image {
  width: 60%;
  /* Gör bilden mindre för att passa bredvid texten */
}

.case-image img {
  width: 100%;
  /* Gör bilden responsiv genom att sätta bredden till 100% */
  height: auto;
}

/* Responsivitet */
@media screen and (max-width: 768px) {
  .case-container {
    flex-direction: column;
    /* Gör om layouten till en vertikal stapling på små skärmar */
    align-items: center;
    padding: 2rem;
  }

  .case-text {
    width: 100%;
  }

  .case-image {
    width: 100%;
    /* Gör bilden mindre på små skärmar */
  }

  .case-small-texts {
    flex-direction: column;
    gap: 2rem;
    /* Minska mellanrum på små skärmar */
  }
}










/*Section 1*/

.case-section-1 {
  padding: 0 7rem;
  padding-top: 2rem;
}

.case-section-1 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.case-section-1 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #2E2A2A;
  font-weight: 500;

}

/*Section 2*/

.case-section-2 img {
  width: 100%;
  /* Bilden sträcker sig över hela bredden */
  height: auto;
  /* Bevarar proportionerna */
  display: block;
  /* Tar bort extra mellanrum som img kan skapa */
}

/*Section 3*/

.case-section-3 {
  padding: 2rem 7rem;
  text-align: left;

}

.case-section-3 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1rem;
}

.case-section-3 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #2E2A2A;
}

.case-section-3-image {
  width: 70%;
  /* Bilden sträcker sig över hela bredden */
  height: auto;
  /* Behåller bildens proportioner */
  display: block;
  /* För att ta bort extra utrymme under bilden */
  margin: 0 auto;
  /* Centrerar bilden horisontellt */
}


/*Section 4*/
.case-section-4 {
  background-color: #2E2A2A;
  padding-bottom: 3rem;
}

.text-image-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* Mellanrum mellan raderna */
  padding: 1rem 7rem;
}

.text-image-container h3 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 1rem;
  margin-top: 2rem;
}

.text-image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-image-row p {
  width: 62%;
  /* Justera bredd för texten */
  margin: 0;
  color: #F9F9F6;
  line-height: 1.4rem;
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;


}

.text-image-row img {
  width: 30%;
  /* Justera bredd för bilden */
  height: auto;
}


/* Medium skärmar (surfplattor, ca 768px) */
@media (max-width: 1024px) {
  .text-image-container {
    padding: 1rem 3rem;
    /* Minskad padding */
  }

  .text-image-row {
    flex-direction: column;
    /* Placera text och bild i en kolumn */
    gap: 20px;
    /* Mellanrum mellan text och bild */
  }

  .text-image-row p {
    width: 100%;
    /* Texten fyller hela bredden */
    text-align: justify;
    /* Justera text för bättre läsbarhet */
  }

  .text-image-row img {
    width: 100%;
    /* Gör bilden lika bred som innehållsbehållaren */
    max-width: 400px;
    /* Begränsa maximal bredd för bilder */
    align-self: center;
    /* Centrera bilden */
  }
}



/*Section 5*/

.case-section-5 {
  background-color: #F9F9F6;
  padding-bottom: 3rem;
}

.text-image-container-5 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* Mellanrum mellan raderna */
  padding: 1rem 7rem;
}

.text-image-container-5 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1rem;
  margin-top: 2rem;
}

.text-image-row-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-image-row-5 img {
  width: 30%;
  /* Justera bredd för bilden */
  height: auto;
  margin-right: 20px;
  /* Mellanrum mellan bild och text */
}

.text-image-row-5 p {
  width: 62%;
  /* Justera bredd för texten */
  margin: 0;
  color: #2E2A2A;
  line-height: 1.4rem;
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

/* Medium skärmar (surfplattor, ca 768px) */
@media (max-width: 1024px) {
  .text-image-container-5 {
    padding: 1rem 3rem;
    /* Minskad padding */
  }

  .text-image-row-5 {
    flex-direction: column;
    /* Placera text och bild i en kolumn */
    gap: 20px;
    /* Mellanrum mellan text och bild */
  }

  .text-image-row-5 p {
    width: 100%;
    /* Texten fyller hela bredden */
    text-align: justify;
    /* Justera text för bättre läsbarhet */
  }

  .text-image-row-5 img {
    width: 100%;
    /* Gör bilden lika bred som innehållsbehållaren */
    max-width: 400px;
    /* Begränsa maximal bredd för bilder */
    align-self: center;
    /* Centrera bilden */
  }
}



/*Section 6 */

.case-section-6 {
  background-color: #2E2A2A;
  padding: 3rem 7rem;
  box-sizing: border-box;
}



.case-section-6 h3 {
  font-family: "urbane", sans-serif;
  color: #F9F9F6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.case-section-6 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #F9F9F6;
  margin-bottom: 1rem;
}


/*Section 7*/

.case-section-7 {
  background-color: #F9F9F6;
  padding: 1rem 7rem;
  box-sizing: border-box;
}


.case-section-7 h3 {
  font-family: "urbane", sans-serif;
  color: #2E2A2A;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.case-section-7 p {
  font-family: "basic-sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #2E2A2A;
  margin-bottom: 1rem;
}



/* Image section */
.case-image-container-7 {
  width: 35%;
}

.case-main-image-7 {
  width: 60%;
  height: auto;
}

/* Row of smaller images */
.case-image-row-7 {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.case-image-7 {
  width: 23%;
  /* Adjust based on your design preferences */
  height: auto;
}


/* Medium skärmar (surfplattor, ca 768px) */
@media (max-width: 1024px) {
  .case-section-7 {
    padding: 1rem 3rem;
    /* Minska padding */
  }

  .case-section-7-text {
    padding: 1rem 0;
    /* Justera textens padding */
  }

  .case-section-7 h3 {
    font-size: 1.2rem;
    /* Justera storleken på rubriken för mindre skärmar */
  }

  .case-section-7 p {
    font-size: 0.95rem;
    /* Justera fontstorlek för bättre läsbarhet */
  }

  .case-7-image-row {
    display: flex;
    /* Gör om till flexbox för att hantera centrering */
    flex-direction: column;
    /* Stapla bilderna vertikalt */
    gap: 1rem;
    /* Öka avståndet mellan bilder */
    align-items: center;
    /* Centrera bilderna horisontellt */
    justify-content: center;
    /* Centrera bilderna vertikalt */
  }

  .case-image-7 {
    width: 100%;
    /* Gör bilderna lika breda som föräldraelementet */
    max-width: 300px;
    /* Begränsa maxbredden på bilder */
    height: auto;
    /* Bevara bildens proportioner */
  }
}

/*To top link*/

.to-top-link {
  text-align: center;
  padding: 2rem;
}

.to-top-link a {
  color: #2E2A2A;
  font-family: "lft-etica-mono", sans-serif;
  font-weight: 500;
  text-decoration: none;
  /* Tar bort understrykning */
  cursor: pointer;
  /* Gör muspekaren till en hand */
}

.to-top-link a:hover {
  color: #FF9900;
  /* Ändra textfärgen till orange vid hovring */
}